* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  .body-content .imagess {
    height: 89.5vh;
    width: 97.9vw;
  }
  
  .body-content .imagess img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  body {
    font-family: sans-serif;
  }
  /* <!-- menu-bar starts --> */
  .menu-bar {
    background-color: #503730;
    text-align: center;
    /* width: 120%; */
  }
  
  .menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
  }
  
  .menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
  }
  
  .menu-bar ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .current-page,
  .menu-bar ul li:hover {
    background: #dc9e8f52;
    border-radius: 3px;
  }
  
  .menu-bar .fa-solid {
    margin-right: 6px;
  }
  
  
  .dropdown-menu1 {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu1 {
    display: block;
    position: absolute;
    background-color:#503730;
    margin-top: 16px;
    margin-left: -15px;
  }
  
  .menu-bar ul li:hover .dropdown-menu1 ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu1 ul li {
    width: 130px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
  }
  
  .menu-bar ul li:hover .dropdown-menu1 ul li:last-child {
    border-bottom: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu1 ul li a:hover {
    color: #c6bbb8;
  }
  
  .fa-angle-right {
    float: right;
    font-size: 12.5px;
    padding-top: 5px;
  }
  
  .department h1 {
    color: #81434f;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-top: 25px;
    margin-left: 500px;
  }
  
  .department h2 {
    color: #81434f;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-top: 25px;
    margin-left: 650px;
  }
  
  .break {
    width: 100%;
    background-image: linear-gradient(#055615c5, #c9e0ce00);
    height: 10px;
  }
  
  .course-image {
    width: 25%;
    background-color: rgb(211, 196, 199);
    border-radius: 5px;
    margin: 70px;
    margin-left: 200px;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
  }
  
  .images img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
  }
  .subject-title {
    text-align: center;
  }
  
  .current-year {
    text-align: center;
  }
  
  .images-flex {
  display: flex;
    /* padding-left: 90px; */
  }
  
  
  .notes .videos {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    /* margin-bottom: 40px;
    margin-left: 350px;
    margin-right: 350px;
    padding: 20px; */
    margin-left:300px;
    /* margin-bottom: 15px; */
    margin-top: 32px;
    color: #81434f;
    font-size: 12px;
   padding: 10px 70px;
    text-align: center;
    margin-bottom: -10px!important;
  
  }
  .notes .videos a{
  text-decoration: none;
  color: #81434f;
  }
  .notes .videos a:hover{
    text-decoration: underline;
  }
  