<!DOCTYPE html>
<html>

<head>
    <title>
        about-page
    </title>
    <link rel="stylesheet" href="../Static/css/aboutstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <!-- menu-bar starts -->
    <header>
        <nav class="menu-bar">
            <ul>
                <li><a href="../View/home.html"><i class="fa-solid fa-house"></i>Home</a></li>
                <li class="current-page"><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>About</a></li>
                <li><a href="courses.html"><i class="fa-solid fa-book"></i>Notes</a>
                    <!-- <div class="dropdown-menu1">
                        <ul>
                            <li><a href="../View/imagespage.html"><i class="fa-sharp fa-solid fa-images"></i>Images</a></li>
                            <li><a href="../View/video.html"><i class="fa-solid fa-video"></i>Video</a></li>
                        </ul>
                    </div> -->
                </li>
                <li><a href="#"><i class="fa-solid fa-file-lines"></i>Modules</a>
                    <div class="dropdown-menu1">
                        <ul>
                            <!-- <li><a href="#"><i class="fa-solid fa-book"></i>syllabus</a></li> -->
                            <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>Timetable</a></li>
                            <li><a href="lab.html"><i class="fa-solid fa-book-open-reader"></i>lab</a></li>
                            <!-- <li><a href="../View/Report.html"><i class="fa-solid fa-registered"></i>Reports</a></li> -->
                        </ul>
                </li>
                <li><a href="../View/contact.html"><i class="fa-solid fa-phone"></i>Contact</a></li>
                <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                    </div>
                    </div>
            </ul>
        </nav>
    </header>
    <!-- menu-bar ends -->

    <!-- body page of the content starts -->
    <div class="about-page">
        <div class="about-images">
            <img src="../Static/images/aboutimagepic.jpg" alt="image">
            <br>
          <br>  <!-- <img id="arrow" src="../Static/images/arrow.png" alt="image"> -->
        </div>
        <div class="content">
            <h1 class="heading">
                <br> Study Material Management System
            </h1>
            <p class="paragraph">
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A Study material management system (SMMS) is a software solution
                that helps department to handle course
                interactions for students.
                It creates an environment that can be accessed by teachers, students, and faculty members to update
                notes, broadcast notices, getting feedback or post questions and test.
                This system will reduce the
                wastage of time, and they will be able to easily get all the study
                information from their teachers. As a result, they will be able to
                continue their studies better.By using this
                application student will be able to check if their teacher has given them
                homework.And they can submit homework to their teacher through this
                online platform.
                Both the students and teacher will be benefited from these functionalities and it works to run more
                smoothly even though
                face-to-face meetings are not held very frequently.
            </p><br><br>
            <button onclick="confrim()">Learn More</button>
        </div>
    </div>
    </div>
    <!-- body page of the content ends -->
      <!-- <div class="break"></div> --><br><br><hr>

<br>
    <h1 class="teachers">Teachers with us !..</h1><br>
<br>

    <section class="details-container">
        <div class="icons">
            <i class="fa-solid fa-chalkboard-user"></i><br>
            <span class="m" data-val="40"></span><span>%</span>
            <p>Mastered proffessor</p>
        </div>

        <div class="icons">
            <i class="fa-solid fa-chalkboard-user"></i><br>
            <span class="m" data-val="20">% </span><span>%</span>
            <p>Doctrated Proffessor</p>
        </div>

        <div class="icons">
            <i class="fa-solid fa-bookmark"></i><br>
            <span class="m" data-val="30">%</span><span>%</span>
            <p>Certified Proffessor</p>
        </div>
    </section>
    <br><br><br>

    <!-- <div class="break"></div> -->
    <!-- student review section starts-->
    <div class="about-us">
        <h1 class="head">Reviews</h1><br>
        <p class="quotes">"A good, sympathetic review is always a wonderful surprise!!..."</p>
        <div class="about-container">
            <div class="box">
                <span class="name"><i class="fa-solid fa-user-graduate"></i>&nbsp;MYTHILI T B.E.(CSE).,</span>
                <p>&nbsp; Hi !! I am Mythili my review about CMS is,It is very useful to us to receive our notes and
                    submit
                    our
                    works.
                    It is very user friendly to us and we benefits a lot at exam times.</p>
            </div>
            <div class="box">
                <span class="name"><i class="fa-solid fa-user-graduate"></i>&nbsp;YAVANIKA V B.E.(IT).,</span>
                <p>&nbsp;Hi !! I am Yavanika my review about CMS is,It is very useful to us to receive our notes and
                    submit our
                    works.
                    It is very user friendly to us and we benefits a lot at exam times.</p>
            </div>
            <div class="box">
                <span class="name"><i class="fa-solid fa-user-graduate"></i>&nbsp;YAAZHINI P B.E.(ECE).,</span>
                <p>&nbsp; Hi !! I am Yaazhini my review about CMS is,It is very useful to us to receive our notes and
                    submit our
                    works.
                    It is very user friendly to us and we benefits a lot at exam times.</p>
            </div>
        </div><br>
        <div class="about-container">
            <div class="box">
                <span class="name"><i class="fa-solid fa-user-graduate"></i>&nbsp;KERTHANA B.E.(MECH).,</span>
                <p>&nbsp; Hi !! I am keerthana my review about CMS is,It is very useful to us to receive our notes and
                    submit
                    our
                    works.
                    It is very user friendly to us and we benefits a lot at exam times.</p>
            </div>
            <div class="box">
                <span class="name"><i class="fa-solid fa-user-graduate"></i>&nbsp;RESHMA V B.E.(CSE).,</span>
                <p>&nbsp;Hi !! I am Reshma my review about CMS is,It is very useful to us to receive our notes and
                    submit our
                    works.
                    It is very user friendly to us and we benefits a lot at exam times.</p>
            </div>
            <div class="box">
                <span class="name"><i class="fa-solid fa-user-graduate"></i>&nbsp;JOVITHA B.E.(MCA).,</span>
                <p>&nbsp; Hi !! I am Jovitha my review about CMS is,It is very useful to us to receive our notes and
                    submit our
                    works.
                    It is very user friendly to us and we benefits a lot at exam times.</p>
            </div>
        </div>
    </div>
  
    <!-- student review section ends-->

    <!-- footer section starts-->

    <div class="foot-division">
        <div class="footer-content">
            <div class="division1">
                <h1>SMMS</h1><br>
                <p><b>"One teacher, One pen, one <br>book can change the World <i class="fa-solid fa-globe"></i> !!..."
                </p></b>
            </div>
        </div>
        <div class="footer-content">
            <div class="division2">
                <h3>Quick links</h3>
                <ul class="ul-division">
                    <li><a href="../View/home.html"><i class="fa-solid fa-house-user"></i>&numsp;Home</a></li>
                    <li><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>&numsp;About</a></li>
                    <li><a href="../View/courses.html"><i class="fa-solid fa-image"></i>&numsp;Notes</a></li>
                    <li><a href="../View/video.html"><i class="fa-solid fa-video"></i>&numsp;Videos</a></li>
                    <li><a href="lab.html"><i class="fa-solid fa-book"></i>&numsp;labs</a></li>
                    <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>&numsp;Timetable</a></li>
                    <li><a href="../View/contact.html"><i class="fa-solid fa-phone"></i>&numsp;Contact</a></li>
                    <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>&numsp;Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-content">
            <div class="division3">
                <h3>Contact info</h3>
                <div class="contact">
                    <span class="icon"><i class="fa-solid fa-phone"></i> 9842066139<br></span>
                    <span class="icon"><i class="fa-solid fa-envelope"></i>mythilithambi1210@gmail.com<br></span>
                    <span class="icon"><i class="fa-solid fa-location-pin"></i> Salem,Tanilnadu,637102</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="about-footer">
        <div class="copyrights">
            <p>Copyright<i class="fa-solid fa-copyright"></i> Mythili | All Rights Reserved</p>
        </div>
    </footer>

    <!-- footer section ends -->
    <script>
        function confrim() {
            var ans = window.confirm("Do you want to learn more");
            if (ans) {
            window.open ("https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_a_href_script");
            }
        }
        var value=document.querySelectorAll(".m");
        value.forEach((valueDisplay) =>{
            let start=0;
            let end=parseInt(valueDisplay.getAttribute("data-val"));
            let ans = setInterval(()=>{
                start +=1;
                valueDisplay.textContent = start;
                if(start == end){
                    clearInterval(ans);
                }
            },100);
        });
    </script>
    
</body>

</html>