<!DOCTYPE html>
<html>

<head>
  <title>
    Contact page
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="../Static/css/contact.css">
</head>

<body>
  <!-- menu-bar starts -->
  <header>
    <nav class="menu-bar">
      <ul>
        <li><a href="../View/home.html"><i class="fa-solid fa-house"></i>Home</a></li>
        <li><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>About</a></li>
        <li><a href="../View/courses.html"><i class="fa-solid fa-book"></i>Notes</a>
          <!-- <div class="dropdown-menu1">
            <ul>
              <li><a href="../View/imagespage.html"><i class="fa-sharp fa-solid fa-images"></i>Images</a></li>
              <li><a href="../View/video.html"><i class="fa-solid fa-video"></i>Video</a></li>
            </ul>
          </div> -->
        </li>
        <li><a href="#"><i class="fa-solid fa-file-lines"></i>Modules</a>
          <div class="dropdown-menu1">
            <ul>
              <!-- <li><a href="#"><i class="fa-solid fa-book"></i>syllabus</a></li> -->
              <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>Timetable</a></li>
              <li><a href="lab.html"><i class="fa-solid fa-book-open-reader"></i>Lab</a></li>
              <!-- <li><a href="../View/Report.html"><i class="fa-solid fa-registered"></i>Reports</a></li> -->
            </ul>
        </li>
        <li class="../View/current-page"><a href="#"><i class="fa-solid fa-phone"></i>Contact</a></li>
        <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
          </div>
          </div>
      </ul>
    </nav>
  </header>
  <!-- menu-bar ends -->

  <!-- body of the content starts-->

  <div class="contact-us">
    <h1 class="heading">Contact Us</h1>
    <!-- <h2 class="sub-heading">We are here to help You !!</h2> -->
  </div><br>
  <div class="contact-content">
    <p>Thank you for your interest in our Course Management System. We’ve created this form to help you get in touch with the right people. Please fill your contact in the list, enter your e-mail address, and type your message below.
Also you can connect with us through facebook,instagram,twitter and whatsapp.We are happy to help you.
      </p>
  </div><br><br><br><br><br>
  <div class="contact-container"><br>

    <!-- contact info session starts -->

    <!-- <div class="sub-contanier1"><br>
      <span class="info">Contact Info</span><br><br>
      <label><i class="fa-solid fa-user"></i> &nbsp;Name</label>
      <p>Mythili T</p><br>
      <label><i class="fa-solid fa-envelope"></i> &nbsp;Email</label>
      <p>mythilithambi1210@gmail.com</p><br>
      <label><i class="fa-solid fa-phone"></i> &nbsp;Phone Number</label>
      <p>9360865812</p><br>
      <label><i class="fa-solid fa-location-pin"></i>&nbsp;Location</label>
      <p>Salem(Dt),TamilNadu,637-102</p>
      <div class="social-media">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </div> -->
    <!-- contact info session ends -->

    <!-- message me session starts -->
    <div class="sub-container2"><br>
      <span class="info" >Reach Us</span>
      <div style="margin-bottom: 30px;"></div>
      <hr>
      <div style="margin-bottom: 30px;"></div>

      <form action="" onsubmit="submitted()">
        <label>Name <span class="sp">*</span></label><br>
      <input class="inp" type="text" required><br><br>
      <label>Email <span class="sp">*</span></label><br>
      <input class="inp" type="email" required><br><br>
      <label>Phone <span class="sp">*</span></label><br>
      <input class="inp" type="text" required><br><br>
      <label>Message <span class="sp">*</span></label><br>
      <textarea rows="5" name = "Message" class="inp">    
     </textarea>
      <input class="btnn" type="submit" value="Submit" id="submit-button">
      </form>
    </div>
  </div>
  </div>
  <!-- message me session ends -->
  <br><br><br>
  <!-- body of the content ends-->

  <!-- footer section starts-->

  <div class="foot-division">
    <div class="footer-content">
      <div class="division1">
        <h1>CMS</h1><br>
        <p><b>"One teacher, One pen, one <br>book can change the World <i class="fa-solid fa-globe"></i> !!..."
        </p></b>
      </div>
    </div>
    <div class="footer-content">
      <div class="division2">
        <h3>Quick links</h3>
        <ul class="ul-division">
          <li><a href="../View/home.html"><i class="fa-solid fa-house-user"></i>&numsp;Home</a></li>
          <li><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>&numsp;About</a></li>
          <li><a href="../View/courses.html"><i class="fa-solid fa-image"></i>&numsp;Notes</a></li>
          <li><a href="../View/video.html"><i class="fa-solid fa-video"></i>&numsp;Videos</a></li>
          <li><a href="lab.html"><i class="fa-solid fa-book"></i>&numsp;Labs</a></li>
          <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>&numsp;Timetable</a></li>
          <li><a href="../View/contact.html"><i class="fa-solid fa-phone"></i>&numsp;Contact</a></li>
          <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>&numsp;Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-content">
      <div class="division3">
        <h3>Contact info</h3>
        <div class="contact">
          <span class="icon"><i class="fa-solid fa-phone"></i> 9842066139<br></span>
          <span class="icon"><i class="fa-solid fa-envelope"></i>mythilithambi1210@gmail.com<br></span>
          <span class="icon"><i class="fa-solid fa-location-pin"></i> Salem,Tanilnadu,637102</span>
        </div>
      </div>
    </div>
  </div>
  <footer class="contact-footer">
    <div class="copyrights">
      <p>Copyright<i class="fa-solid fa-copyright"></i> Mythili | All Rights Reserved</p>
    </div>
  </footer>

  <!-- footer section ends -->

</body>

</html>

<script>
   function submitted()
   {
    alert("Form submitted!")
   }
</script>

<style>
  .sub-container2
  {
    padding: 30px;
    min-width: 500px;
    max-width: 800px;
  }
  .inp
  {
    border: 1px solid #2bab0d;
    color: #2bab0d;
    margin-left: 2.5rem !important;
    padding-left: 1rem;
    min-width: 400px;
    max-width: 700px;
  }
  .btnn{
    margin-top: 1.5rem !important;
    min-width: 400px;
    margin-left: 2.5rem !important;
    max-width: 700px;
  }
  .sp{
    color: red;
  }
</style>