<!DOCTYPE html>
<html>

<head>
   <title>
      images-page
   </title>
   <link rel="stylesheet" href="../Static/css/imagestyle.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
   <!-- menu-bar starts -->
   <header>
      <nav class="menu-bar">
         <ul>
            <li><a href="../View/home.html"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>About</a></li>
            <li class="current-page"><a href="#"><i class="fa-solid fa-book"></i>Courses</a>
               <!-- <div class="dropdown-menu1">
                  <ul>
                     <li><a href="../View/imagespage.html"><i class="fa-sharp fa-solid fa-images"></i>Images</a></li>
                     <li><a href="../View/video.html"><i class="fa-solid fa-video"></i>Video</a></li>
                  </ul>
               </div> -->
            </li>
            <li><a href="#"><i class="fa-solid fa-file-lines"></i>Modules</a>
               <div class="dropdown-menu1">
                  <ul>
                     <li><a href="#"><i class="fa-solid fa-book"></i>syllabus</a></li>
                     <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>Timetable</a></li>
                     <li><a href="#"><i class="fa-solid fa-book-open-reader"></i>Notes</a></li>
                     <li><a href="../View/Report.html"><i class="fa-solid fa-registered"></i>Reports</a></li>
                  </ul>
            </li>
            <li><a href="../View/contact.html"><i class="fa-solid fa-phone"></i>Contact</a></li>
            <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
               </div>
               </div>
         </ul>
      </nav>
   </header>
   
   <!-- menu-bar ends -->

   <!-- CSE Courses starts-->
   <div class="department">
      <h1 class="heading">Computer Science and Engineering</h1>
   </div>
   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/Professional-Ethicspic.jpg" alt="image" id="peImg">
         </div>
         <div class="subject-title">
            18CS021
            Professional-Ethics
         </div>
         <div class="current-year">
            First Year
         </div>
      </div>
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/computernetwrokpic.jpg" alt="image" id="peImg">
         </div>
         <div class="subject-title">
            18CS057
            Computer Netwroks
         </div>
         <div class="current-year">
            First Year
         </div>
      </div>
   </div>

   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/Entrepreneurship-Developmentpic.jpg" alt="image" id="edImg">
         </div>
         <div class="subject-title">
            18ED022
            Entrepreneurship-Development
         </div>
         <div class="current-year">
            Second Year
         </div>
      </div>
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/cloudcomputingpic.jpg" alt="image" id="edImg">
         </div>
         <div class="subject-title">
            18CS081
            Cloud Computing
         </div>
         <div class="current-year">
            Second Year
         </div>
      </div>
   </div>


   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/mobilecomputingpic.jpg" alt="image" id="mlImg">
         </div>
         <div class="subject-title">
            18CS096
            Machine Learning
         </div>
         <div class="current-year">
            Third Year
         </div>
      </div>
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/javalanguagepic.jpg" alt="image" id="mlImg">
         </div>
         <div class="subject-title">
            18CS089
            Java Programming
         </div>
         <div class="current-year">
            Third Year
         </div>
      </div>
   </div>

   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/operating system.jpg" alt="image" id="osImg">
         </div>
         <div class="subject-title">
            18CS098
           Operating Systems
         </div>
         <div class="current-year">
            Final Year
         </div>
         </div>
         <div class="course-image">
            <div class="images">
               <img src="../Static/images/cryptography.png" alt="image" id="osImg">
            </div>
            <div class="subject-title">
               18CS009
             Cryptography
            </div>
            <div class="current-year">
               Final Year
            </div>
         </div>
      </div>
   </div>
   <br>
   <!-- CSE Courses ends-->
   <div class="break"></div><br>



   <!-- ECE courses starts -->
   <div class="department">
      <h1 class="heading"> Electric and Electronical Engineering</h1>
   </div>
   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/algebra.png" alt="image">
         </div>
         <div class="subject-title">
            18ECE077
            Linear Algebra
         </div>
         <div class="current-year">
            First Year
         </div>
      </div>
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/Microprocessor.jpg" alt="image">
         </div>
         <div class="subject-title">
            18ECE067
            Microprocessor
         </div>
         <div class="current-year">
            First Year
         </div>
      </div>
   </div>

   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/VLSI.jpg" alt="image">
         </div>
         <div class="subject-title">
            18ECE012
            VLSI
         </div>
         <div class="current-year">
            Second Year
         </div>
      </div>
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/analog.jpg" alt="image">
         </div>
         <div class="subject-title">
            18ECE065
            Analog and Digital Electronics
         </div>
         <div class="current-year">
            Second Year
         </div>
      </div>
   </div>

   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/circuit.jpg" alt="image">
         </div>
         <div class="subject-title">
            18ECE013
            Integrated Circuits
         </div>
         <div class="current-year">
            Third Year
         </div>
      </div>
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/antenna.jpg" alt="image">
         </div>
         <div class="subject-title">
            18ECE015
            Antenna and Wave Propagation
         </div>
         <div class="current-year">
            Third Year
         </div>
      </div>
   </div>

   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/python.jpeg" alt="image">
         </div>
         <div class="subject-title">
            18ECE051
            Python Programming
         </div>
         <div class="current-year">
            Final Year
         </div>
      </div>
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/embedded System.jpeg" alt="image">
         </div>
         <div class="subject-title">
            18ECE070
            Embedded System
         </div>
         <div class="current-year">
            Final Year
         </div>
      </div>
   </div>
   <!-- ECE courses ends -->

   <div class="break"></div><br>



   <!-- IT courses starts -->
   <div class="department">
      <h1 class="heading"> Information Technology</h1>
   </div>
   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/C programpic.png" alt="image">
         </div>
         <div class="subject-title">
            18IT088
            C Programming
         </div>
         <div class="current-year">
            First Year
         </div>
      </div>
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/c++languagepic.png" alt="image">
         </div>
         <div class="subject-title">
            18IT090
            C++ Programming
         </div>
         <div class="current-year">
            First Year
         </div>
      </div>
   </div>

   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/Data structure.png" alt="image">
         </div>
         <div class="subject-title">
            18IT075
            Data Structures and Algorithms
         </div>
         <div class="current-year">
            Second Year
         </div>
      </div>
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/agilemethodologypic.png" alt="image">
         </div>
         <div class="subject-title">
            18IT066
            Agile Methodology
         </div>
         <div class="current-year">
            Second Year
         </div>
      </div>
   </div>

   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/telecommunication.webp" alt="image">
         </div>
         <div class="subject-title">
            18IT095
            Telecommunications
         </div>
         <div class="current-year">
            Third Year
         </div>
      </div>
      <div class="course-image">
         <div class="images">
            <img src="../Static/images/system and analysis.webp" alt="image">
         </div>
         <div class="subject-title">
            18IT046
            System Analysis and Design
         </div>
         <div class="current-year">
            Third Year
         </div>
      </div>
   </div>   
   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img  src="../Static/images/software engineering.jpg" alt="image">
         </div>
         <div class="subject-title">
            18IT055
           Software Engineering
         </div>
         <div class="current-year">
            Final Year
         </div>
      </div>

      <div class="course-image">
         <div class="images">
            <img src="../Static/images/computer_multimedia.jpg" alt="image">
         </div>
         <div class="subject-title">
            18IT046
           Graphics and Multi-Media
         </div>
         <div class="current-year">
            Final Year
         </div>
      </div>
   </div>

<!-- IT courses ends -->

  <!-- EEE dept courses starts -->

   <div class="break"></div><br>
   <div class="department">
      <h1 class="heading">Electical and Electronical Engineering </h1>
   </div>


   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img  src="../Static/images/electric-circuit-analysis.webp" alt="image">
         </div>
         <div class="subject-title">
            18EEE055
            Electical circuit and Analysis
         </div>
         <div class="current-year">
            First Year
         </div>
      </div>

      <div class="course-image">
         <div class="images">
            <img src="../Static/images/analog-electronics.jpg" alt="image">
         </div>
         <div class="subject-title">
            18EEE012 
            Analog Electronics
         </div>
         <div class="current-year">
            First Year
         </div>
      </div>
   </div>

   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img  src="../Static/images/circuit and systems.jpg" alt="image">
         </div>
         <div class="subject-title">
            18EEE107
            Circuits and Systems
         </div>
         <div class="current-year">
            Second Year
         </div>
      </div>

      <div class="course-image">
         <div class="images">
            <img src="../Static/images/Microcontroller.jpg" alt="image">
         </div>
         <div class="subject-title">
            18EEE106 
            Microcontroller
         </div>
         <div class="current-year">
            Second Year
         </div>
      </div>
   </div>

   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img  src="../Static/images/power electronics.jpeg" alt="image">
         </div>
         <div class="subject-title">
            18EEE01
            Power Electronics
         </div>
         <div class="current-year">
            Third Year
         </div>
      </div>

      <div class="course-image">
         <div class="images">
            <img src="../Static/images/transmission.jpeg" alt="image">
         </div>
         <div class="subject-title">
            18EEE10 
            Transmission and Distribution
         </div>
         <div class="current-year">
            Third Year
         </div>
      </div>
   </div>

   <div class="images-flex">
      <div class="course-image">
         <div class="images">
            <img  src="../Static/images/instruments.jpg" alt="image">
         </div>
         <div class="subject-title">
            18EEE14
            Electrical measurements and instrumentation
         </div>
         <div class="current-year">
            Final Year
         </div>
      </div>

      <div class="course-image">
         <div class="images">
            <img src="../Static/images/hybird vehicles.png" alt="image">
         </div>
         <div class="subject-title">
            18EEE10 
            Electric and hybrid vehicles
         </div>
         <div class="current-year">
            Final Year
         </div>
      </div>
   </div>


   <!-- EEE dept courses ends -->


   <!-- footer section starts-->

   <div class="foot-division">
      <div class="footer-content">
         <div class="division1">
            <h1>CMS</h1><br>
            <p><b>"One teacher, One pen, one <br>book can change the World <i class="fa-solid fa-globe"></i>
                  !!..."
            </p></b>
         </div>
      </div>
      <div class="footer-content">
         <div class="division2">
            <h3>Quick links</h3>
            <ul class="ul-division">
               <li><a href="../View/home.html"><i class="fa-solid fa-house-user"></i>&numsp;Home</a></li>
               <li><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>&numsp;About</a></li>
               <li><a href="../View/imagespage.html"><i class="fa-solid fa-image"></i>&numsp;Images</a></li>
               <li><a href="../View/video.html"><i class="fa-solid fa-video"></i>&numsp;Videos</a></li>
               <li><a href="#"><i class="fa-solid fa-book"></i>&numsp;Syllabus</a></li>
               <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>&numsp;Timetable</a></li>
               <li><a href="../View/contact.html"><i class="fa-solid fa-phone"></i>&numsp;Contact</a></li>
               <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>&numsp;Logout</a></li>
            </ul>
         </div>
      </div>
      <div class="footer-content">
         <div class="division3">
            <h3>Contact info</h3>
            <div class="contact">
               <span class="icon"><i class="fa-solid fa-phone"></i> 9842066139<br></span>
               <span class="icon"><i class="fa-solid fa-envelope"></i>mythilithambi1210@gmail.com<br></span>
               <span class="icon"><i class="fa-solid fa-location-pin"></i> Salem,Tanilnadu,637102</span>
            </div>
         </div>
      </div>
   </div>
   <footer class="about-footer">
      <div class="copyrights">
         <p>Copyright<i class="fa-solid fa-copyright"></i> Mythili | All Rights Reserved</p>
      </div>
   </footer>

</body>

</html>