<!DOCTYPE html>
<html>

<head>
    <title>
        Report page
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../Static/css/Reportstyle.css">
</head>

<body>
    <!-- menu-bar starts -->
    <header>
        <nav class="menu-bar">
            <ul>
                <li><a href="../View/home.html"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>About</a></li>
                <li><a href="#"><i class="fa-solid fa-book"></i>Courses</a>
                    <div class="dropdown-menu1">
                        <ul>
                            <li><a href="../View/imagespage.html"><i class="fa-sharp fa-solid fa-images"></i>Images</a></li>
                            <li><a href="../View/video.html"><i class="fa-solid fa-video"></i>Video</a></li>
                        </ul>
                    </div>
                </li>
                <li class="current-page"><a href="#"><i class="fa-solid fa-file-lines"></i>Modules</a>
                    <div class="dropdown-menu1">
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-book"></i>syllabus</a></li>
                            <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>Timetable</a></li>
                            <li><a href="#"><i class="fa-solid fa-book-open-reader"></i>Notes</a></li>
                            <li><a href="../View/Report.html"><i class="fa-solid fa-registered"></i>Reports</a></li>
                        </ul>
                </li>
                <li><a href="../View/contact.html"><i class="fa-solid fa-phone"></i>Contact</a></li>
                <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                    </div>
                    </div>
            </ul>
        </nav>
    </header>
    <!-- menu-bar ends -->
    <h1 class="heading">Reports Us</h1>
    <div class="grid">
      
        <div class="percentage">
            <section class="Skills" id="Skills">
              
                <div class="progress">
                    <h3>Teachers <span>100%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>Students <span>75%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>courses Active<span>70%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>Course completion<span>50%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>Daily Task<span>95%</span></h3>
                    <div class="bar"><span></span></div>
                </div>

                <div class="progress">
                    <h3>Overall <span>78%</span></h3>
                    <div class="bar"><span></span></div>
                </div>

            </section>
        </div>


        <div class="Reportimg">
            <img src="../Static/images/report.jpg" width="500px" height="500px">
        </div>
    </div>
    <br><br>
    <div class="break"></div>

    <h1 class="teachers">Teachers</h1>
<br>

    <section class="details-container">
        <div class="icons">
            <i class="fa-solid fa-chalkboard-user"></i><br>
            <span class="m" data-val="40"></span><span>%</span>
            <p>Mastered proffessor</p>
        </div>

        <div class="icons">
            <i class="fa-solid fa-chalkboard-user"></i><br>
            <span class="m" data-val="20">% </span><span>%</span>
            <p>Doctrated Proffessor</p>
        </div>

        <div class="icons">
            <i class="fa-solid fa-bookmark"></i><br>
            <span class="m" data-val="30">%</span><span>%</span>
            <p>Certified Proffessor</p>
        </div>
    </section>
    <br><br>
    <h1 class="teachers">Students</h1>
<br>
    <section class="details-container1">
        <div class="icons1">
            <i class="fa-solid fa-user-graduate"></i><br>
            <span class="m" data-val="20"> </span><span>%</span>
            <p>Certified Proffessor</p>
        </div>
        <div class="icons1">
            <i class="fa-solid fa-user-graduate"></i><br>
            <span class="m" data-val="20">%</span> <span>%</span>
            <p>Certified Proffessor</p>
        </div>
        <div class="icons1">
            <i class="fa-solid fa-user-graduate"></i><br>
            <span class="m" data-val="20">%</span><span>%</span>
            <p>Certified Proffessor</p>
        </div>
    </section>
    <br><br>
    <h1 class="teachers">courses Active</h1>
    <br>
    <section class="details-container">
        <div class="icons">
            <i class="fa-solid fa-book-open-reader"></i><br>
            <span class="m" data-val="27">%</span><span>%</span>
            <p>CSE &nbsp; &nbsp;Department</p>
        </div>
        <div class="icons">
            <i class="fa-solid fa-book-open-reader"></i><br>
            <span class="m" data-val="22">%</span><span>%</span>
            <p>IT &nbsp; &nbsp;Department</p>
        </div>
        <div class="icons">
            <i class="fa-solid fa-book-open-reader"></i><br>
            <span class="m" data-val="30">%</span><span>%</span>
            <p>ECE&nbsp; &nbsp;Department</p>
        </div>
    </section>
    <br><br>

    <h1 class="teachers">courses completed</h1>
    <br>
    <section class="details-container1">
        <div class="icons1">
            <i class="fa-solid fa-book-open-reader"></i><br>
            <span class="m" data-val="57">%</span><span>%</span>
            <p>CSE &nbsp; &nbsp;Department</p>
        </div>
        <div class="icons1">
            <i class="fa-solid fa-book-open-reader"></i><br>
            <span class="m" data-val="62">%</span><span>%</span>
            <p>IT &nbsp; &nbsp;Department</p>
        </div>
        <div class="icons1">
            <i class="fa-solid fa-book-open-reader"></i><br>
            <span class="m" data-val="60">%</span><span>%</span>
            <p>ECE&nbsp; &nbsp;Department</p>
        </div>
    </section>


    <br><br>
    <!-- footer section starts-->

    <div class="foot-division">
        <div class="footer-content">
            <div class="division1">
                <h1>CMS</h1><br>
                <p><b>"One teacher, One pen, one <br>book can change the World <i class="fa-solid fa-globe"></i>
                        !!..."
                </p></b>
            </div>
        </div>
        <div class="footer-content">
            <div class="division2">
                <h3>Quick links</h3>
                <ul class="ul-division">
                    <li><a href="../View/home.html"><i class="fa-solid fa-house-user"></i>&numsp;Home</a></li>
                    <li><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>&numsp;About</a></li>
                    <li><a href="../View/imagespage.html"><i class="fa-solid fa-image"></i>&numsp;Images</a></li>
                    <li><a href="../View/video.html"><i class="fa-solid fa-video"></i>&numsp;Videos</a></li>
                    <li><a href="#"><i class="fa-solid fa-book"></i>&numsp;Syllabus</a></li>
                    <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>&numsp;Timetable</a></li>
                    <li><a href="../View/contact.html"><i class="fa-solid fa-phone"></i>&numsp;Contact</a></li>
                    <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>&numsp;Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-content">
            <div class="division3">
                <h3>Contact info</h3>
                <div class="contact">
                    <span class="icon"><i class="fa-solid fa-phone"></i> 9842066139<br></span>
                    <span class="icon"><i class="fa-solid fa-envelope"></i>mythilithambi1210@gmail.com<br></span>
                    <span class="icon"><i class="fa-solid fa-location-pin"></i> Salem,Tanilnadu,637102</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="about-footer">
        <div class="copyrights">
            <p>Copyright<i class="fa-solid fa-copyright"></i> Mythili | All Rights Reserved</p>
        </div>
    </footer>

    <!-- footer section ends -->
   <script>
    var value=document.querySelectorAll(".m");
    value.forEach((valueDisplay) =>{
        let start=0;
        let end=parseInt(valueDisplay.getAttribute("data-val"));
        let ans = setInterval(()=>{
            start +=1;
            valueDisplay.textContent = start;
            if(start == end){
                clearInterval(ans);
            }
        },100);
    });
   </script>
</body>

</html>