<!DOCTYPE html>
<html>

<head>
    <title>
        video page
    </title>
    <link rel="stylesheet" href="../Static/css/videostyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <!-- menu-bar starts -->
    <header>
        <nav class="menu-bar">
            <ul>
                <li><a href="../View/home.html"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>About</a></li>
                <li class="current-page"><a href="#"><i class="fa-solid fa-book"></i>Notes</a>
                    <!-- <div class="dropdown-menu1">
                        <ul>
                            <li><a href="../View/imagespage.html"><i class="fa-sharp fa-solid fa-images"></i>Images</a>
                            </li>
                            <li><a href="../View/video.html "><i class="fa-solid fa-video"></i>Video</a></li>
                        </ul>
                    </div> -->
                </li>
                <li ><a href="#"><i class="fa-solid fa-file-lines"></i>Modules</a>
                    <div class="dropdown-menu1">
                        <ul>
                            <!-- <li><a href="#"><i class="fa-solid fa-book"></i>syllabus</a></li> -->
                            <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>Timetable</a></li>
                            <li><a href="lab.html"><i class="fa-solid fa-book-open-reader"></i>Lab</a></li>
                            <!-- <li><a href="../View/Report.html"><i class="fa-solid fa-registered"></i>Reports</a></li> -->
                        </ul>
                </li>
                <li><a href="../View/contact.html"><i class="fa-solid fa-phone"></i>Contact</a></li>
                <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                    </div>
                    </div>
            </ul>
        </nav>
    </header>
    <!-- menu-bar ends -->

<br>
    <div class="department">
        <h1 class="heading">Computer Science and Engineering</h1>

    </div><br><br>

    <br><br>
    <div class="grid">
        <div class="sub-grid1">
            <div class="images-flex">
                <div class="course-image">
                    <div class="images">
                        <img src="https://www.cemassage.com/images/course/3hr-Ethics-Logo.png" alt="image">
                    </div>

                </div>
            </div>
        </div>
        <div class="sub-grid2">
            <div class="subject-title">
                &nbsp;&nbsp; 18CS021 -
                Professional Ethics
            </div>
            <div class="link"><br>
                <a target="_blank" href="https://youtu.be/ej74auZ-b-g"> What are Professional Ethics by
                    Ethilogical Consulting </a> <br><br>
                <a target="_blank" href="https://youtu.be/pE5E3YkEyYY">Professional Ethics Lecture #1 Introduction by
                    Jack Sanders</a><br><br>

                <a target="_blank" href="https://youtu.be/Xizm5JAuHWY">Professional Ethics Lecture #2 Ethical Theory,
                    Part I by
                    Jack Sanders</a><br><br>
                <a target="_blank" href="https://youtu.be/Xizm5JAuHWY">Professional Ethics Lecture #3 Ethical Theory,
                    Part II
                    by Jack Sanders</a><br><br>

            </div>
        </div>
    </div>
    <br><br><br>

    <div class="grid">
        <div class="sub-grid1">
            <div class="images-flex">
                <div class="course-image">
                    <div class="images">
                        <img src="https://d1m75rqqgidzqn.cloudfront.net/wp-data/2019/06/11143302/Cloud-Computing-Green-Technology-1-696x392.jpg"
                            alt="image">
                    </div>

                </div>
            </div>
        </div>
        <div class="sub-grid2">
            <div class="subject-title">
                &nbsp;&nbsp; 18CS081 -
                Cloud Computing
            </div>
            <div class="link"><br>
                <a target="_blank" href="https://youtu.be/m8twVbNxCGs"> What is cloud Computing by
                    tamilhacks </a> <br><br>
                <a target="_blank" href="https://youtu.be/RWgW-CgdIk0">Cloud Computing Tutorial for Beginners by
                    Simplilearn
                </a><br><br>

                <a target="_blank" href="https://youtu.be/2LaAJq1lB1Q">Cloud Computing Full Course by
                    Edureka</a><br><br>

                <a target="_blank" href="https://youtu.be/_a6us8kaq0g">Cloud Computing Explained by PowerCert Animated
                    Videos</a> <br><br>

            </div>
        </div>
    </div>
    <br><br><br>
    <hr>
    <div class="department">
        <h1 class="heading">Electric and Electronical Engineering </h1>
    </div><br><br><br>
    <div class="grid">
        <div class="sub-grid1">
            <div class="images-flex">
                <div class="course-image">
                    <div class="images">
                        <img src="../Static/images/algebra.png" alt="image">
                    </div>

                </div>
            </div>
        </div>
        <div class="sub-grid2">
            <div class="subject-title">
                &nbsp;&nbsp; 18CS077-
                Linear Algebra
            </div>
            <div class="link"><br>
                <a target="_blank" href="https://youtu.be/ZKUqtErZCiU"> What's the big idea of Linear Algebra by
                    Dr.Trefor Bazett </a> <br><br>
                <a target="_blank" href="https://youtu.be/H8MiZMJr1kQ">What is a Solution to a Linear System Dr.Trefor
                    Bazett
                </a><br><br>

                <a target="_blank" href="https://youtu.be/DZj8i2F5SQo"> Systems of linear equations by
                    Technion</a><br><br>

                <a target="_blank" href="https://youtu.be/ggWYkes-n6E">The Big Picture of Linear Algebra by MIT
                    OpenCourseWare</a> <br><br>

            </div>
        </div>
    </div>


    <!-- footer section starts-->

    <div class="foot-division">
        <div class="footer-content">
            <div class="division1">
                <h1>CMS</h1><br>
                <p><b>"One teacher, One pen, one <br>book can change the World <i class="fa-solid fa-globe"></i> !!..."
                </p></b>
            </div>
        </div>
        <div class="footer-content">
            <div class="division2">
                <h3>Quick links</h3>
                <ul class="ul-division">
                    <li><a href="../View/home.html"><i class="fa-solid fa-house-user"></i>&numsp;Home</a></li>
                    <li><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>&numsp;About</a></li>
                    <li><a href="../View/courses.html"><i class="fa-solid fa-image"></i>&numsp;Notes</a></li>
                    <li><a href="../View/video.html"><i class="fa-solid fa-video"></i>&numsp;Videos</a></li>
                    <li><a href="lab.html"><i class="fa-solid fa-book"></i>&numsp;Labs</a></li>
                    <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>&numsp;Timetable</a></li>
                    <li><a href="../View/contact.html"><i class="fa-solid fa-phone"></i>&numsp;Contact</a></li>
                    <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>&numsp;Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-content">
            <div class="division3">
                <h3>Contact info</h3>
                <div class="contact">
                    <span class="icon"><i class="fa-solid fa-phone"></i> 9842066139<br></span>
                    <span class="icon"><i class="fa-solid fa-envelope"></i>mythilithambi1210@gmail.com<br></span>
                    <span class="icon"><i class="fa-solid fa-location-pin"></i> Salem,Tanilnadu,637102</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="about-footer">
        <div class="copyrights">
            <p>Copyright<i class="fa-solid fa-copyright"></i> Mythili | All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>